.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.form_group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 12px;
  width: 400px;
}

.label {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  margin-left: 4px;
}

.input {
  background: none;
  border: 1px solid #dedede67;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.textarea {
  height: 180px;
  resize: none;
  font-family: Hind;
  font-size: 14px;
}

.button {
  background-color: var(--primary-color);
  padding: 4px 18px;
  border: none;
  border-radius: 4px;
  color: #121212;
  cursor: pointer;
  width: 110px;
}

.button_disabled {
  border: 1px solid var(--primary-color);
  cursor: not-allowed;
  background: none;
  color: var(--primary-color);
}
.button_text {
  font-weight: 500;
  font-size: 20px;
  font-family: Hind;
}

@media screen and (max-width: 550px) {
  .input {
    width: 90vw;
  }
  .form_group {
    width: 100%;
  }
}
