.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 728px;
  position: relative;
  background-color: #0f0f0f;
  background: linear-gradient(
    110deg,
    rgba(0, 255, 166, 0.01) 0%,
    rgba(88, 168, 178, 0.01) 50%,
    rgba(13, 242, 201, 0.01) 100%
  );
  overflow: hidden;
}
.hello_text {
  font-weight: 400;
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 24px;
}
.hello_text span {
  color: var(--primary-color);
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 6px;
  color: var(--secondary-color);
  text-align: center;
}
.subtitle {
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 2px;
  color: var(--secondary-color);
}
.buttons_group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;
}
.button_1 {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #101010;
  font-size: 16px;
  font-weight: 700;
  width: 172px;
  height: 53px;
  border-radius: 8px;
  cursor: pointer;
}
.button_2 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 300;
  width: 172px;
  height: 53px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
.button_2:hover {
  background-color: #0f0f0f;
  transition: 0.3s ease;
}
.shape {
  z-index: -2;
  position: absolute;
}
.shape1 {
  position: absolute;
  top: 600px;
}
.shape2 {
  position: absolute;
  z-index: -2;
  top: -201px;
  left: -357px;
}
.shape3 {
  position: absolute;
  z-index: -2;
  top: -99px;
  left: 200px;
}

@media screen and (max-width: 1300px) {
  .title {
    font-size: 64px;
    height: min-content;
  }
  .subtitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 820px) {
  .buttons_group {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 42px;
  }
  .subtitle {
    font-size: 20px;
  }
  .buttons_group {
    flex-direction: column;
    gap: 24px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    letter-spacing: 2px;
  }
}
