.contact {
  width: 100%;
  min-height: 900px;
  padding-top: 96px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 72px;
}

.title span {
  color: var(--primary-color);
}

.contact_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

.informations_section {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 54px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
  text-align: center;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.information {
  width: 300px;
  display: flex;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  background-color: #1e1e1e;
  padding: 12px;
  border-radius: 8px;
}

.information_text {
  font-weight: 400;
  color: var(--secondary-color);
}

@media screen and (max-width: 1024px) {
  .paragraph {
    font-size: 14px;
  }
  .information_text {
    font-size: 14px;
  }
}

@media screen and (max-width: 820px) {
  .information {
    max-width: 90vw;
  }
  .contact_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
  }
}
